includes:
  - vendor/phpstan/phpstan/conf/config.levelmax.neon
  - vendor/jangregor/phpstan-prophecy/src/extension.neon

parameters:
  ignoreErrors:
        -
            path: %currentWorkingDirectory%/src/State/Persistence/Redis.php
            message: '#.* Redis.*#'
